* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana Tahoma sans-serif;
}

#mainContainer {
  display: flex;
  flex-direction: column;
  margin: 2%;
}

#logo img {
  height: 50px;
}

.menuBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(230, 230, 230);
  padding-left: 20px;
}

.menuItems {
  font: 20px Tahoma;
  font-weight: bolder;
  text-transform: uppercase;
}

a{
   text-decoration: none;
   padding-right: 30px;
   color:#7A6667;


}
.mainContent {
  display: block;
  width: 100%;
  position: relative;
}

.mainContent {
}

#mottoCircle {
  background-image: url("icons/05.png");
  background-size: cover;
  height: 220px;
  width: 220px;
  border-radius: 50%;
  position: absolute;
  right: 220px;
  bottom: 80px;
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.freeze{
    margin: 80px 0 0 20px;
    text-align: center;
}

.featuredProduct {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  height: 300px;
  background-color:rgb(230, 230, 230);

}

.productDescription {
  display: flex;
  align-items: center;
}

.productDescription img {
  display: flex;
}

.productDescription p {
  color: rgb(151, 130, 131);
}

.productLable {
  padding-top: 30px;
}

.productLable h2 {
  font-family: Tahoma;
  color: rgb(110, 110, 100);
}

.productLable h3 {
  font-family: Verdana;
  color: rgb(30, 25, 25);

}

.infoSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(215, 215, 15);
    height: 200px;
}
.infoSection .icons {
  text-transform: uppercase;
  font-family: Verdana;
  font-weight: bolder;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;

}

.icons img {
  padding-bottom: 10px;
}

.social {
  background: rgb(100, 25, 50);
  height: auto;
}

.social p {
  text-align: center;
  color: white;
}

.socialIcons {
  margin-top: 20px;
  text-align: center;
}

.socialIcons img {
  margin-right: 25px;
}